:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  .drawboard {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
  }
  
  .grid-item {
    border: 1px solid #ddd;
    text-align: center;
    min-width: 1rem;
    min-height: 1rem;
    width: auto;
    height: auto;
    background-color: #ddd;
  }

  .trace {
    border: 1px solid #2c0e78;
    text-align: center;
    min-width: 1rem;
    min-height: 1rem;
    width: auto;
    height: auto;
    background: #2c0e78;
  }

  .dropdownResolution {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .dropdownList {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }